/**
 * activation.scss
 * Styles applied to elements displayed on activation
 */

/**
 * Styling begins
 */
div.easyreservations-message {
	overflow: hidden;
	position: relative;
	border-left-color: #6ab3ff !important;
}

p.easyreservations-actions,
.easyreservations-message {

	.button-primary {
		background: #228dff;
		border-color: #226bd3;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 #226bd3;
		color: #fff;
		text-shadow: 0 -1px 1px #226bd3, 1px 0 1px #226bd3, 0 1px 1px #226bd3, -1px 0 1px #226bd3;

		&:hover,
		&:focus,
		&:active {
			background: #226bd3;
			border-color: #226bd3;
			box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 #226bd3;
		}
	}

	a.easyreservations-message-close {
		position: static;
		float: right;
		top: 0;
		right: 0;
		padding: 0 15px 10px 28px;
		margin-top: -10px;
		font-size: 13px;
		line-height: 1.23076923;
		text-decoration: none;

		&::before {
			position: relative;
			top: 18px;
			left: -20px;
			transition: all 0.1s ease-in-out;
		}
	}

	.button-primary,
	.button-secondary {
		text-decoration: none !important;
	}

	.twitter-share-button {
		margin-top: -3px;
		margin-left: 3px;
		vertical-align: middle;
	}
}

p.easyreservations-actions,
.easyreservations-about-text {
	margin-bottom: 1em !important;
}
