@charset "UTF-8";
/* stylelint-disable no-descending-specificity */
body {
  margin: 65px auto 24px;
  box-shadow: none;
  background: #f1f1f1;
  padding: 0;
}

.er-logo {
  border: 0;
  margin: 0 0 24px;
  padding: 0;
  text-align: center;
}
.er-logo img {
  max-width: 30%;
}

.er-setup {
  text-align: center;
}
.er-setup #er_tracker_checkbox {
  display: none;
}
.er-setup .select2-container {
  text-align: left;
  width: auto;
}
.er-setup .hidden {
  display: none;
}
.er-setup #tiptip_content {
  background: #5f6973;
}
.er-setup #tiptip_holder.tip_top #tiptip_arrow_inner {
  border-top-color: #5f6973;
}

.er-setup-content {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
  padding: 2em;
  margin: 0 0 20px;
  background: #fff;
  overflow: hidden;
  zoom: 1;
  text-align: left;
}
.er-setup-content h1,
.er-setup-content h2,
.er-setup-content h3,
.er-setup-content table {
  margin: 0 0 20px;
  border: 0;
  padding: 0;
  color: #666;
  clear: none;
  font-weight: 500;
}
.er-setup-content p {
  margin: 20px 0;
  font-size: 1em;
  line-height: 1.75;
  color: #666;
}
.er-setup-content table {
  font-size: 1em;
  line-height: 1.75;
  color: #666;
}
.er-setup-content a {
  color: #226bd3;
}
.er-setup-content a:hover, .er-setup-content a:focus {
  color: #111;
}
.er-setup-content .form-table th {
  width: 35%;
  vertical-align: top;
  font-weight: 400;
}
.er-setup-content .form-table td {
  vertical-align: top;
}
.er-setup-content .form-table td select,
.er-setup-content .form-table td input {
  width: 100%;
  box-sizing: border-box;
}
.er-setup-content .form-table td input[size] {
  width: auto;
}
.er-setup-content .form-table td .description {
  line-height: 1.5;
  display: block;
  margin-top: 0.25em;
  color: #999;
  font-style: italic;
}
.er-setup-content .form-table td .input-checkbox,
.er-setup-content .form-table td .input-radio {
  width: auto;
  box-sizing: inherit;
  padding: inherit;
  margin: 0 0.5em 0 0;
  box-shadow: none;
}
.er-setup-content .form-table .section_title td {
  padding: 0;
}
.er-setup-content .form-table .section_title td h2,
.er-setup-content .form-table .section_title td p {
  margin: 12px 0 0;
}
.er-setup-content .form-table th,
.er-setup-content .form-table td {
  padding: 12px 0;
  margin: 0;
  border: 0;
}
.er-setup-content .form-table th:first-child,
.er-setup-content .form-table td:first-child {
  padding-right: 1em;
}
.er-setup-content table.tax-rates {
  width: 100%;
  font-size: 0.92em;
}
.er-setup-content table.tax-rates th {
  padding: 0;
  text-align: center;
  width: auto;
  vertical-align: middle;
}
.er-setup-content table.tax-rates td {
  border: 1px solid #f5f5f5;
  padding: 6px;
  text-align: center;
  vertical-align: middle;
}
.er-setup-content table.tax-rates td input {
  outline: 0;
  border: 0;
  padding: 0;
  box-shadow: none;
  text-align: center;
  width: 100%;
}
.er-setup-content table.tax-rates td.sort {
  cursor: move;
  color: #ccc;
}
.er-setup-content table.tax-rates td.sort::before {
  content: "";
  font-family: dashicons;
  /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
}
.er-setup-content table.tax-rates td.readonly {
  background: #f5f5f5;
}
.er-setup-content table.tax-rates .add {
  padding: 1em 0 0 1em;
  line-height: 1;
  font-size: 1em;
  width: 0;
  margin: 6px 0 0;
  height: 0;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.er-setup-content table.tax-rates .add::before {
  content: "";
  font-family: dashicons;
  /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
  position: absolute;
  left: 0;
  top: 0;
}
.er-setup-content table.tax-rates .remove {
  padding: 1em 0 0 1em;
  line-height: 1;
  font-size: 1em;
  width: 0;
  margin: 0;
  height: 0;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.er-setup-content table.tax-rates .remove::before {
  content: "";
  font-family: dashicons;
  /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
  position: absolute;
  left: 0;
  top: 0;
}
@media screen and (max-width: 782px) {
  .er-setup-content .form-table tbody th {
    width: auto;
  }
}
.er-setup-content .twitter-share-button {
  float: right;
}
.er-setup-content .er-setup-next-steps {
  overflow: hidden;
  margin: 0 0 24px;
  padding-bottom: 2px;
}
.er-setup-content .er-setup-next-steps h2 {
  margin-bottom: 12px;
}
.er-setup-content .er-setup-next-steps .er-setup-next-steps-first {
  float: left;
  width: 50%;
  box-sizing: border-box;
}
.er-setup-content .er-setup-next-steps .er-setup-next-steps-last {
  float: right;
  width: 50%;
  box-sizing: border-box;
}
.er-setup-content .er-setup-next-steps ul {
  padding: 0 2em 0 0;
  list-style: none outside;
  margin: 0;
}
.er-setup-content .er-setup-next-steps ul li a {
  display: block;
  padding: 0 0 0.75em;
}
.er-setup-content .er-setup-next-steps ul li a ::before {
  color: #82878c;
  font: 400 20px/1 dashicons;
  /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
  speak: none;
  display: inline-block;
  padding: 0 10px 0 0;
  top: 1px;
  position: relative;
  text-decoration: none !important;
  vertical-align: top;
}
.er-setup-content .er-setup-next-steps ul .learn-more a::before {
  content: "";
}
.er-setup-content .er-setup-next-steps ul .video-walkthrough a::before {
  content: "";
}
.er-setup-content .er-setup-next-steps ul .newsletter a::before {
  content: "";
}
.er-setup-content .easyreservations-newsletter,
.er-setup-content .updated {
  padding: 24px 24px 0;
  margin: 0 0 24px;
  overflow: hidden;
  background: #f5f5f5;
}
.er-setup-content .easyreservations-newsletter p,
.er-setup-content .updated p {
  padding: 0;
  margin: 0 0 12px;
}
.er-setup-content .easyreservations-newsletter form,
.er-setup-content .easyreservations-newsletter p:last-child,
.er-setup-content .updated form,
.er-setup-content .updated p:last-child {
  margin: 0 0 24px;
}
.er-setup-content .checkbox input[type=checkbox] {
  opacity: 0;
  position: absolute;
  left: -9999px;
}
.er-setup-content .checkbox label {
  position: relative;
  display: inline-block;
  padding-left: 28px;
}
.er-setup-content .checkbox label::before, .er-setup-content .checkbox label::after {
  position: absolute;
  content: "";
  display: inline-block;
}
.er-setup-content .checkbox label::before {
  height: 16px;
  width: 16px;
  left: 0;
  top: 3px;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 3px;
}
.er-setup-content .checkbox label::after {
  height: 5px;
  width: 9px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(-45deg);
  left: 4px;
  top: 7px;
  color: #fff;
}
.er-setup-content .checkbox input[type=checkbox] + label::after {
  content: none;
}
.er-setup-content .checkbox input[type=checkbox]:checked + label::after {
  content: "";
}
.er-setup-content .checkbox input[type=checkbox]:focus + label::before {
  outline: #3b99fc auto 5px;
}
.er-setup-content .checkbox input[type=checkbox]:checked + label::before {
  background: #935687;
  border-color: #935687;
}

.easyreservations-tracker {
  margin: 24px 0;
  border: 1px solid #eee;
  padding: 20px;
  border-radius: 4px;
  overflow: hidden;
  text-align: left;
}
.easyreservations-tracker h1 {
  border-bottom: 0;
  padding-bottom: 0;
}
.easyreservations-tracker .er-backbone-modal-header {
  border-bottom: 0;
}
.easyreservations-tracker .er-backbone-modal-main article {
  padding-top: 0;
}
.easyreservations-tracker .er-backbone-modal-main footer {
  border-top: 0;
  box-shadow: none;
}
.easyreservations-tracker p {
  font-size: 14px;
  line-height: 1.5;
}
.easyreservations-tracker .easyreservations-tracker-checkbox label {
  margin-top: -4px;
  display: inline-block;
}

.er-setup-steps {
  padding: 0 0 24px;
  margin: 0;
  list-style: none outside;
  overflow: hidden;
  color: #ccc;
  width: 100%;
  display: inline-flex;
}
.er-setup-steps li {
  width: 100%;
  float: left;
  padding: 0 0 0.8em;
  margin: 0;
  text-align: center;
  position: relative;
  border-bottom: 4px solid #ccc;
  line-height: 1.4;
}
.er-setup-steps li a {
  color: #226bd3;
  text-decoration: none;
  padding: 1.5em;
  margin: -1.5em;
  position: relative;
  z-index: 1;
}
.er-setup-steps li a:hover, .er-setup-steps li a:focus {
  color: #111;
  text-decoration: underline;
}
.er-setup-steps li::before {
  content: "";
  border: 4px solid #ccc;
  border-radius: 100%;
  width: 4px;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -6px;
  margin-bottom: -8px;
  background: #fff;
}
.er-setup-steps li.active {
  border-color: #226bd3;
  color: #226bd3;
  font-weight: 700;
}
.er-setup-steps li.active::before {
  border-color: #226bd3;
}
.er-setup-steps li.done {
  border-color: #226bd3;
  color: #226bd3;
}
.er-setup-steps li.done::before {
  border-color: #226bd3;
  background: #226bd3;
}

.er-setup .er-setup-actions {
  overflow: hidden;
  margin: 20px 0 0;
  position: relative;
}

.er-setup .er-setup-actions .button-primary,
.easyreservations-tracker .button-primary {
  color: #fff;
  text-shadow: 0 -1px 1px #226bd3, 1px 0 1px #226bd3, 0 1px 1px #226bd3, -1px 0 1px #226bd3;
  background: #228dff;
  border-color: #226bd3;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 #226bd3;
  margin: 0;
  opacity: 1;
}
.er-setup .er-setup-actions .button-primary:hover, .er-setup .er-setup-actions .button-primary:focus, .er-setup .er-setup-actions .button-primary:active,
.easyreservations-tracker .button-primary:hover,
.easyreservations-tracker .button-primary:focus,
.easyreservations-tracker .button-primary:active {
  background: #226bd3;
  border-color: #226bd3;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 #226bd3;
}

.er-setup-content p:last-child {
  margin-bottom: 0;
}

.er-setup-content p.store-setup {
  margin-top: 0;
}

.er-setup-footer-links {
  font-size: 0.85em;
  color: #7b7b7b;
  margin: 1.18em auto;
  display: inline-block;
  text-align: center;
}

.er-wizard-storefront .er-wizard-storefront-intro {
  padding: 40px 40px 0;
  background: #f5f5f5;
  text-align: center;
}
.er-wizard-storefront .er-wizard-storefront-intro img {
  margin: 40px 0 0 0;
  width: 100%;
  display: block;
}
.er-wizard-storefront .er-wizard-storefront-features {
  list-style: none outside;
  margin: 0 0 20px;
  padding: 0 0 0 30px;
  overflow: hidden;
}
.er-wizard-storefront .er-wizard-storefront-feature {
  margin: 0;
  padding: 20px 30px 20px 2em;
  width: 50%;
  box-sizing: border-box;
}
.er-wizard-storefront .er-wizard-storefront-feature::before {
  margin-left: -2em;
  position: absolute;
}
.er-wizard-storefront .er-wizard-storefront-feature.first {
  clear: both;
  float: left;
}
.er-wizard-storefront .er-wizard-storefront-feature.last {
  float: right;
}
.er-wizard-storefront .er-wizard-storefront-feature__bulletproof::before {
  content: "🔒";
}
.er-wizard-storefront .er-wizard-storefront-feature__mobile::before {
  content: "📱";
}
.er-wizard-storefront .er-wizard-storefront-feature__accessibility::before {
  content: "👓";
}
.er-wizard-storefront .er-wizard-storefront-feature__search::before {
  content: "🔍";
}
.er-wizard-storefront .er-wizard-storefront-feature__compatibility::before {
  content: "🔧";
}
.er-wizard-storefront .er-wizard-storefront-feature__extendable::before {
  content: "🎨";
}

.er-wizard-services.manual .er-wizard-service-item {
  display: none;
}

.hide {
  display: none;
}

.er-wizard-features {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
.er-wizard-features .er-wizard-feature-item {
  flex-basis: calc(50% - 4em - 3px);
  border: 1px solid #eee;
  padding: 2em;
}
.er-wizard-features .er-wizard-feature-item:nth-child(1) {
  border-radius: 4px 0 0 0;
}
.er-wizard-features .er-wizard-feature-item:nth-child(2) {
  border-left: 0;
  border-radius: 0 4px 0 0;
}
.er-wizard-features .er-wizard-feature-item:nth-child(3) {
  border-top: 0;
  border-radius: 0 0 0 4px;
}
.er-wizard-features .er-wizard-feature-item:nth-child(4) {
  border-top: 0;
  border-left: 0;
  border-radius: 0 0 4px 0;
}
.er-wizard-features p.er-wizard-feature-name,
.er-wizard-features p.er-wizard-feature-description {
  margin: 0;
  line-height: 1.5;
}

.step {
  text-align: center;
}

.er-setup .er-setup-actions .button {
  font-weight: 300;
  font-size: 16px;
  padding: 1em 2em;
  box-shadow: none;
  min-width: 12em;
  margin-top: 10px;
  line-height: 1;
  margin-right: 0.5em;
  margin-bottom: 2px;
  height: auto;
  border-radius: 4px;
}
.er-setup .er-setup-actions .button:focus, .er-setup .er-setup-actions .button:hover, .er-setup .er-setup-actions .button:active {
  box-shadow: none;
}

.er-setup .er-setup-actions .plugin-install-info {
  display: block;
  font-style: italic;
  color: #999;
  font-size: 14px;
  line-height: 1.5;
  margin: 5px 0;
}
.er-setup .er-setup-actions .plugin-install-info > * {
  display: block;
}
.er-setup .er-setup-actions .plugin-install-info .plugin-install-info-list-item::after {
  content: ", ";
}
.er-setup .er-setup-actions .plugin-install-info .plugin-install-info-list-item:last-of-type::after {
  content: ". ";
}
.er-setup .er-setup-actions .plugin-install-info a {
  white-space: nowrap;
}
.er-setup .er-setup-actions .plugin-install-info a:not(:hover):not(:focus) {
  color: inherit;
}

.plugin-install-source {
  background: rgba(34, 141, 255, 0.15);
}
.plugin-install-source:not(.er-wizard-service-item) {
  box-shadow: 0 0 0 10px rgba(34, 141, 255, 0.15);
}

.location-prompt {
  color: #666;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 0.5em;
  margin-top: 0.85em;
  display: inline-block;
}

.location-input {
  border: 1px solid #aaa;
  border-color: #ddd;
  border-radius: 4px;
  height: 30px;
  width: calc(100% - 8px - 8px - 2px);
  padding-left: 8px;
  padding-right: 8px;
  font-size: 16px;
  color: #444;
  background-color: #fff;
  display: block;
}
.location-input.dropdown {
  width: 100%;
}

.branch-5-2 .location-input,
.branch-5-3 .location-input {
  margin: 0;
  width: 100%;
}

.address-step .select2 {
  min-width: 100%;
}

.store-address-container .city-and-postcode {
  display: flex;
}
.store-address-container .city-and-postcode div {
  flex-basis: 50%;
  margin-right: 1em;
}
.store-address-container .city-and-postcode div:last-of-type {
  margin-right: 0;
}
.store-address-container input[type=text],
.store-address-container select,
.store-address-container .select2-container {
  margin-bottom: 10px;
}

.product-type-container,
.sell-in-person-container {
  margin-top: 14px;
  margin-bottom: 1px;
}

#easyreservations_sell_in_person {
  margin-left: 0;
  margin-top: calc(0.85em / 2);
}

.er-wizard-service-settings .payment-email-input {
  border: 1px solid #aaa;
  border-color: #ddd;
  border-radius: 4px;
  height: 30px;
  padding: 0 8px;
  font-size: 14px;
  color: #444;
  background-color: #fff;
  display: inline-block;
}
.er-wizard-service-settings .payment-email-input[disabled] {
  color: #aaa;
}

.newsletter-form-container {
  display: flex;
}
.newsletter-form-container input.newsletter-form-email {
  border: 1px solid #aaa;
  border-color: #ddd;
  border-radius: 4px;
  height: 42px;
  padding: 0 8px;
  font-size: 16px;
  color: #666;
  background-color: #fff;
  display: inline-block;
  margin-right: 6px;
  flex-grow: 1;
}
.newsletter-form-container .newsletter-form-button-container {
  flex-grow: 0;
}

.er-setup .er-setup-actions .button.newsletter-form-button {
  height: 42px;
  padding: 0 1em;
  margin: 0;
}

.er-wizard-next-steps {
  border: 1px solid #eee;
  border-radius: 4px;
  list-style: none;
  padding: 0;
}
.er-wizard-next-steps li {
  padding: 0;
}
.er-wizard-next-steps .er-wizard-next-step-item {
  display: flex;
  border-top: 1px solid #eee;
}
.er-wizard-next-steps .er-wizard-next-step-item:first-child {
  border-top: 0;
}
.er-wizard-next-steps .er-wizard-next-step-description {
  flex-grow: 1;
  margin: 1.5em;
}
.er-wizard-next-steps .er-wizard-next-step-action {
  flex-grow: 0;
  display: flex;
  align-items: center;
}
.er-wizard-next-steps .er-wizard-next-step-action .button {
  margin: 1em 1.5em;
}
.er-wizard-next-steps p.next-step-heading {
  margin: 0;
  font-size: 0.95em;
  font-weight: 400;
  font-variant: all-petite-caps;
}
.er-wizard-next-steps p.next-step-extra-info {
  margin: 0;
}
.er-wizard-next-steps h3.next-step-description {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}
.er-wizard-next-steps .er-wizard-additional-steps {
  border-top: 1px solid #eee;
}
.er-wizard-next-steps .er-wizard-additional-steps .er-wizard-next-step-description {
  margin-bottom: 0;
}
.er-wizard-next-steps .er-wizard-additional-steps .er-setup-actions {
  margin: 0 0 1.5em 0;
}
.er-wizard-next-steps .er-wizard-additional-steps .er-setup-actions .button {
  font-size: 15px;
  margin: 1em 0 1em 1.5em;
}

p.next-steps-help-text {
  color: #9f9f9f;
  padding: 0 2em;
  text-align: center;
  font-size: 0.9em;
}

p.jetpack-terms {
  font-size: 0.8em;
  text-align: center;
  max-width: 480px;
  margin: 0 auto;
  line-height: 1.5;
}

.easyreservations-error {
  background: #ffe6e5;
  border-color: #ffc5c2;
  padding: 1em;
  margin-bottom: 1em;
}
.easyreservations-error p {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #444;
}
.easyreservations-error a {
  color: #ff645c;
}
.easyreservations-error .reconnect-reminder {
  font-size: 0.85em;
}
.easyreservations-error .er-setup-actions .button {
  font-size: 14px;
}

.er-wizard-service-setting-stripe_create_account,
.er-wizard-service-setting-ppec_paypal_reroute_requests {
  display: flex;
  align-items: flex-start;
}
.er-wizard-service-setting-stripe_create_account .payment-checkbox-input,
.er-wizard-service-setting-ppec_paypal_reroute_requests .payment-checkbox-input {
  order: 1;
  margin-top: 5px;
  margin-left: 0;
  margin-right: 0;
}
.er-wizard-service-setting-stripe_create_account .stripe_create_account,
.er-wizard-service-setting-stripe_create_account .ppec_paypal_reroute_requests,
.er-wizard-service-setting-ppec_paypal_reroute_requests .stripe_create_account,
.er-wizard-service-setting-ppec_paypal_reroute_requests .ppec_paypal_reroute_requests {
  order: 2;
  margin-left: 0.3em;
}

.branch-5-2 .er-wizard-service-setting-stripe_create_account .payment-checkbox-input,
.branch-5-2 .er-wizard-service-setting-ppec_paypal_reroute_requests .payment-checkbox-input,
.branch-5-3 .er-wizard-service-setting-stripe_create_account .payment-checkbox-input,
.branch-5-3 .er-wizard-service-setting-ppec_paypal_reroute_requests .payment-checkbox-input {
  margin-top: 3px;
}

.er-wizard-service-setting-stripe_email,
.er-wizard-service-setting-ppec_paypal_email {
  margin-top: 0.75em;
  margin-left: 1.5em;
}
.er-wizard-service-setting-stripe_email label.stripe_email,
.er-wizard-service-setting-stripe_email label.ppec_paypal_email,
.er-wizard-service-setting-ppec_paypal_email label.stripe_email,
.er-wizard-service-setting-ppec_paypal_email label.ppec_paypal_email {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}
.er-wizard-service-setting-stripe_email input.payment-email-input,
.er-wizard-service-setting-ppec_paypal_email input.payment-email-input {
  box-sizing: border-box;
  margin-bottom: 0.5em;
  width: 100%;
  height: 32px;
}

.er-setup-content .recommended-step {
  border: 1px solid #ebebeb;
  border-radius: 4px;
  padding: 2.5em;
}

.er-setup-content .recommended-item {
  list-style: none;
  margin-bottom: 1.5em;
}
.er-setup-content .recommended-item:last-child {
  margin-bottom: 0;
}
.er-setup-content .recommended-item label {
  display: flex;
  align-items: center;
}
.er-setup-content .recommended-item label::before, .er-setup-content .recommended-item label::after {
  top: auto;
}
.er-setup-content .recommended-item label::after {
  margin-top: -1.5px;
}
.er-setup-content .recommended-item .recommended-item-icon {
  border: 1px solid #fff;
  border-radius: 7px;
  height: 3.5em;
  margin-right: 1em;
  margin-left: 4px;
}
.er-setup-content .recommended-item .recommended-item-icon.recommended-item-icon-er_admin {
  background-color: #96588a;
  padding: 0.5em;
  height: 2em;
}
.er-setup-content .recommended-item .recommended-item-icon.recommended-item-icon-storefront_theme {
  background-color: #f4a224;
  max-height: 3em;
  max-width: 3em;
  padding: 0.25em;
}
.er-setup-content .recommended-item .recommended-item-icon.recommended-item-icon-automated_taxes {
  background-color: #d0011b;
  max-height: 1.75em;
  padding: 0.875em;
}
.er-setup-content .recommended-item .recommended-item-icon.recommended-item-icon-mailchimp {
  background-color: #ffe01b;
  height: 2em;
  padding: 0.75em;
}
.er-setup-content .recommended-item .recommended-item-icon.recommended-item-icon-easyreservations_services {
  background-color: #f0f0f0;
  max-height: 1.5em;
  padding: 1.3em 0.7em;
}
.er-setup-content .recommended-item .recommended-item-icon.recommended-item-icon-shipstation {
  background-color: #f0f0f0;
  padding: 0.3em;
}
.er-setup-content .recommended-item .recommended-item-description-container h3 {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 0;
}
.er-setup-content .recommended-item .recommended-item-description-container p {
  margin-top: 0;
  line-height: 1.5;
}

.er-wizard-service-info {
  padding: 1em 2em;
  background-color: #fafafa;
}

.help_tip {
  text-decoration: underline dotted;
}

@media only screen and (max-width: 400px) {
  .er-logo img {
    max-width: 80%;
  }

  .er-setup-steps {
    display: none;
  }

  .store-address-container .city-and-postcode {
    display: block;
  }
  .store-address-container .city-and-postcode div {
    margin-right: 0;
  }

  .er-wizard-service-item,
.er-wizard-services-list-toggle {
    flex-wrap: wrap;
  }
  .er-wizard-service-item .er-wizard-service-enable,
.er-wizard-services-list-toggle .er-wizard-service-enable {
    order: 2;
    padding: 20px 0 0;
  }
  .er-wizard-service-item .er-wizard-service-description,
.er-wizard-services-list-toggle .er-wizard-service-description {
    order: 3;
  }
  .er-wizard-service-item .er-wizard-service-name,
.er-wizard-services-list-toggle .er-wizard-service-name {
    padding: 20px 20px 0;
    text-align: left;
    justify-content: space-between !important;
  }
  .er-wizard-service-item .er-wizard-service-name img,
.er-wizard-services-list-toggle .er-wizard-service-name img {
    margin: 0;
  }

  .newsletter-form-container {
    display: block;
  }
  .newsletter-form-container .newsletter-form-email {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
  }
  .newsletter-form-container .button.newsletter-form-button {
    float: left;
  }

  .er-wizard-next-steps .er-wizard-next-step-item {
    flex-wrap: wrap;
  }
  .er-wizard-next-steps .er-wizard-next-step-item .er-wizard-next-step-description {
    margin-bottom: 0;
  }
  .er-wizard-next-steps .er-wizard-next-step-item .er-wizard-next-step-action p {
    margin: 0;
  }
}

/*# sourceMappingURL=er-setup.css.map */
