/**
 * easyReservations CSS Variables
 */
:root {
  --easyreservations: #40a0ff;
  --er-green: #7ad03a;
  --er-red: #a00;
  --er-orange: #ffba00;
  --er-blue: #2ea2cc;
  --er-primary: #40a0ff;
  --er-primary-text: white;
  --er-secondary: #ebe9eb;
  --er-secondary-text: #515151;
  --er-highlight: #77a464;
  --er-highligh-text: white;
  --er-content-bg: #fff;
  --er-subtext: #777;
}

.easy-ui {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #333;
}

.easyreservations .easy-ui-container {
  width: 100%;
  padding: 0;
  margin: 10px 0 0 0;
  line-height: 38px;
  border-spacing: 0;
  border-collapse: separate;
  background: #fff;
  border: 1px solid #b9b7b7;
  border-radius: 0.1875rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.easyreservations .easy-ui-container.border {
  border: 1px solid #b9b7b7;
}
.easyreservations .easy-ui-container h1 {
  padding: 20px 25px;
  margin: 0 0 10px 0 !important;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #232a39;
  text-align: left;
}
.easyreservations .easy-ui-container h2 {
  padding: 0;
  margin: 10px 0 12px 0;
  font-size: 13px;
  font-weight: 700;
  line-height: 22px;
  color: #333;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
}
.easyreservations .easy-ui-container .content {
  display: block;
  padding: 5px 15px;
  font-size: 13px;
  line-height: 34px;
  background: #fff;
}
.easyreservations .easy-ui-container > .form-row > div:not([class]) {
  padding: 0 15px 10px 15px;
}
.easyreservations .easy-ui-container > .form-row > label:not(.wrapper) {
  padding-left: 15px;
  line-height: 38px;
  vertical-align: top;
}
.easyreservations .easy-ui-container label.in-hierarchy {
  display: inline-block;
  width: 100px;
  text-align: left;
  vertical-align: top;
}
.easyreservations .easy-ui-container .easy-date-selection {
  margin: 10px 18px;
}
.easyreservations .easy-ui-container div.easy-price {
  padding-top: 10px;
  margin: 10px 18px 0 18px;
  border-top: 1px solid #b9b7b7;
}
.easyreservations .easy-ui-container > button[type=submit].button {
  margin: 10px 18px 20px 18px;
}
.easyreservations .easy-ui-container > div.footer,
.easyreservations .easy-ui-container > footer {
  display: block;
  padding: 8px 25px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  text-align: right;
}

.easy-ui-container.border {
  padding-top: 10px;
  margin-bottom: 10px;
}
.easy-ui-container.border > h1 {
  padding: 11px 10px;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #232a39;
  background: #fbfbfb;
  border: 1px solid #ebebeb;
  border-right: 0;
  border-left: 0;
}
.easy-ui-container.border > h1:first-of-type {
  border-top: 0;
}
.easy-ui-container.border > h2 {
  margin: 20px 15px;
}
.easy-ui-container.border > footer {
  padding: 8px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #232a39;
  background: #fbfbfb;
  border-top: 1px solid #ebebeb;
}

.easy-ui-container.inline {
  border: none;
  box-shadow: none;
}
.easy-ui-container.inline > h1 {
  border-bottom: 1px solid #ebebeb;
}

.easy-ui {
  /* INPUT & SELECT */
  /* INPUT */
}
.easy-ui img {
  display: inline-block;
  vertical-align: top;
}
.easy-ui .form-row > div.content > small,
.easy-ui .form-row > div.content > span.row > small,
.easy-ui .form-row > div.content > div.row > small,
.easy-ui > small {
  padding-left: 1px;
  margin-top: 2px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  color: #9a9a9a;
}
.easy-ui > .form-row > label:not(.wrapper) {
  font-weight: 600;
}
.easy-ui div.row,
.easy-ui span.row {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0;
}
.easy-ui .dashicons {
  display: inline-block;
  font-size: 22px;
  line-height: 20px;
  color: #525252;
  cursor: pointer;
}
.easy-ui .dashicons:hover {
  color: #000;
}
.easy-ui span.input-wrapper {
  display: inline-flex;
  white-space: nowrap;
  vertical-align: middle;
}
.easy-ui span.input-wrapper span.input-box {
  display: inline-block;
  height: auto;
  padding: 0 10px;
  font-size: 13px;
  font-weight: 500;
  line-height: 2;
  color: #777;
  text-align: center;
  vertical-align: top;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background: #fff;
  border: 1px solid #7e8993;
  border-radius: 0.25rem;
}
.easy-ui span.input-wrapper span.input-box span {
  padding: 0;
  font-weight: 500;
}
.easy-ui span.input-wrapper span.input-box .dashicons {
  font-size: 18px;
  line-height: 28px;
}
.easy-ui span.input-wrapper span.input-box.clickable {
  cursor: pointer;
}
.easy-ui span.input-wrapper span.input-box.clickable:hover, .easy-ui span.input-wrapper span.input-box.clickable.active {
  background-color: #ebebeb;
}
.easy-ui span.input-wrapper span.input-box.clickable:active {
  background-color: #dedede;
}
.easy-ui span.input-wrapper .iris-picker {
  position: absolute;
  z-index: 2;
  margin-top: 38px;
}
.easy-ui span.input-wrapper > *:not(.iris-picker) {
  border-left-width: 0 !important;
  border-radius: 0 !important;
}
.easy-ui span.input-wrapper > *:first-child {
  border-left-width: 1px !important;
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}
.easy-ui span.input-wrapper > *:last-child {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}
.easy-ui span.input-wrapper select {
  width: auto !important;
}
.easy-ui span.together-wrapper {
  display: flex;
  vertical-align: baseline;
}
.easy-ui span.together-wrapper .input-box,
.easy-ui span.together-wrapper select,
.easy-ui span.together-wrapper input {
  border-left-width: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.easy-ui span.together-wrapper .first,
.easy-ui span.together-wrapper input:first-child {
  border-left-width: 1px;
  border-radius: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.easy-ui span.together-wrapper .last {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.easy-ui span.wrapper,
.easy-ui label.wrapper {
  position: relative;
  display: inline-block;
  width: auto;
  padding: 0;
  margin-right: 2px;
  font-weight: 400;
  text-align: left;
  white-space: nowrap;
  vertical-align: baseline;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.easy-ui select,
.easy-ui input[type=text],
.easy-ui input[type=tel],
.easy-ui input[type=password],
.easy-ui input[type=email],
.easy-ui input[type=number] {
  min-height: 30px;
}
.easy-ui textarea,
.easy-ui select,
.easy-ui input[type=email],
.easy-ui input[type=text],
.easy-ui input[type=tel],
.easy-ui input[type=password],
.easy-ui input[type=number] {
  vertical-align: middle;
  display: inline-block;
  height: 30px;
  box-sizing: border-box;
  padding: 0 8px;
  margin: 0;
  font-size: 14px;
  line-height: 2;
  color: #32373c;
  background: #fff;
  border: 1px solid #7e8993;
  border-radius: 4px;
  box-shadow: 0 0 0 transparent;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.easy-ui textarea:focus,
.easy-ui select:focus,
.easy-ui input[type=email]:focus,
.easy-ui input[type=text]:focus,
.easy-ui input[type=tel]:focus,
.easy-ui input[type=password]:focus,
.easy-ui input[type=number]:focus {
  background-color: #fff;
  border-color: #80bdff !important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.easy-ui textarea:disabled,
.easy-ui select:disabled,
.easy-ui input[type=email]:disabled,
.easy-ui input[type=text]:disabled,
.easy-ui input[type=tel]:disabled,
.easy-ui input[type=password]:disabled,
.easy-ui input[type=number]:disabled {
  color: rgba(51, 51, 51, 0.5);
  cursor: not-allowed;
  background: rgba(255, 255, 255, 0.5);
  border-color: rgba(222, 222, 222, 0.75);
  box-shadow: none;
}
.easy-ui textarea.form-error,
.easy-ui select.form-error,
.easy-ui input[type=email].form-error,
.easy-ui input[type=text].form-error,
.easy-ui input[type=tel].form-error,
.easy-ui input[type=password].form-error,
.easy-ui input[type=number].form-error {
  border-color: #dc3545 !important;
  outline: 0;
}
.easy-ui textarea.form-error:focus,
.easy-ui select.form-error:focus,
.easy-ui input[type=email].form-error:focus,
.easy-ui input[type=text].form-error:focus,
.easy-ui input[type=tel].form-error:focus,
.easy-ui input[type=password].form-error:focus,
.easy-ui input[type=number].form-error:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}
.easy-ui textarea {
  min-height: 75px;
  padding: 7px 8px;
}
.easy-ui select {
  padding: 0 24px 0 8px;
  /* The SVG is arrow-down-alt2 from Dashicons. */
  background: #fff url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E") no-repeat right 5px top 55%;
  background-size: 16px 16px;
  -webkit-appearance: none;
}
.easy-ui select.disabled, .easy-ui select:disabled {
  border-color: inherit;
}
.easy-ui div.content > small,
.easy-ui div.row > small,
.easy-ui span.row > small,
.easy-ui > small {
  display: block;
}
.easy-ui select::-ms-expand {
  display: none;
}
.easy-ui .not-selectable {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.easy-ui .hide {
  display: none !important;
}

/* BUTTON */
input[type=button].easy-button,
input[type=submit].easy-button,
.easy-button {
  padding: 6px 12px;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: baseline;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background: #40a0ff;
  border: 1px solid #40a0ff;
  border-radius: 4px;
  outline: none !important;
  box-shadow: none;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  -webkit-font-smoothing: subpixel-antialiased;
}
input[type=button].easy-button:focus, input[type=button].easy-button:hover,
input[type=submit].easy-button:focus,
input[type=submit].easy-button:hover,
.easy-button:focus,
.easy-button:hover {
  color: #fff;
  cursor: pointer;
  background: #007af3;
  border-color: #007af3;
  outline: none;
  box-shadow: none;
}
input[type=button].easy-button:hover:active,
input[type=submit].easy-button:hover:active,
.easy-button:hover:active {
  color: #fff;
  background: #0060c0;
  border-color: #0060c0;
  outline: none;
}
input[type=button].easy-button.grey,
input[type=submit].easy-button.grey,
.easy-button.grey {
  color: #333;
  background: #fff;
  border: 1px solid #ccc !important;
}
input[type=button].easy-button.grey:focus, input[type=button].easy-button.grey:hover,
input[type=submit].easy-button.grey:focus,
input[type=submit].easy-button.grey:hover,
.easy-button.grey:focus,
.easy-button.grey:hover {
  color: #333;
  background: #e6e6e6;
  border-color: #adadad;
  outline: none;
}
input[type=button].easy-button.grey:hover:active,
input[type=submit].easy-button.grey:hover:active,
.easy-button.grey:hover:active {
  color: #333;
  background: #d4d4d4;
  border-color: #8c8c8c;
  outline: none;
}
input[type=button].easy-button.green,
input[type=submit].easy-button.green,
.easy-button.green {
  background: #2ecc71;
  border-color: #2ecc71;
}
input[type=button].easy-button.green:focus, input[type=button].easy-button.green:hover,
input[type=submit].easy-button.green:focus,
input[type=submit].easy-button.green:hover,
.easy-button.green:focus,
.easy-button.green:hover {
  color: #fff;
  background: #58d68d;
  border-color: #58d68d;
  outline: none;
}
input[type=button].easy-button.green:hover:active,
input[type=submit].easy-button.green:hover:active,
.easy-button.green:hover:active {
  background: #27ad60;
  border-color: #27ad60;
}
input[type=button].easy-button.green.outline,
input[type=submit].easy-button.green.outline,
.easy-button.green.outline {
  color: #2ecc71;
}
input[type=button].easy-button.outline,
input[type=submit].easy-button.outline,
.easy-button.outline {
  color: #333;
  text-transform: uppercase;
  background: transparent;
  background-image: none;
  border-style: solid;
  border-width: 1px;
}
input[type=button].easy-button.last,
input[type=submit].easy-button.last,
.easy-button.last {
  display: inline-block;
  max-height: 30px;
  padding: 6px 12px;
  margin: 0;
  font-size: 14px;
  line-height: 1.42857143;
  border-left: none !important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Dropdown */
.er-dropdown {
  position: relative;
}
.er-dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 4;
  display: none;
  float: left;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 13px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #b9b7b7;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.er-dropdown .dropdown-menu.right {
  right: 0;
  left: unset;
}
.er-dropdown .dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.er-dropdown .dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  text-decoration: none;
  white-space: nowrap;
}
.er-dropdown .dropdown-menu > li > a:hover, .er-dropdown .dropdown-menu > li > a:focus {
  text-decoration: none;
  background-color: #f2f2f2;
}

/* Slider */
div.easy-slider {
  position: relative;
  display: inline-block;
  width: 90%;
  height: 18px;
  font-size: 1em;
  text-align: left;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #7e8993;
  border-radius: 3px;
}

div.easy-slider.ui-slider .ui-slider-handle {
  position: absolute;
  top: 0;
  z-index: 1;
  margin: -5px -3px auto !important;
  line-height: 24px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  cursor: default;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background: transparent;
  border: 0;
  touch-action: none;
}
div.easy-slider.ui-slider .ui-slider-handle label {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  background: #228dff;
  background: var(--easy-ui-primary, #228dff);
  border-radius: 150px;
}
div.easy-slider.ui-slider .ui-slider-handle label:hover {
  opacity: 0.95;
}
div.easy-slider.ui-slider .ui-slider-handle label span.dashicons {
  padding: 0;
  line-height: 28px;
  color: #fff;
  opacity: 0.5;
}
div.easy-slider.ui-slider .ui-slider-range {
  position: absolute;
  top: 0;
  z-index: 0;
  display: block;
  height: 100%;
  min-height: inherit !important;
  font-size: 0.7em;
  background: #f2f2f2;
  border: 0;
}

.easy-ui .hidden {
  display: none;
}

/**
  * Select2 elements.
  */
.select2-dropdown {
  z-index: 999999 !important;
  border-color: #80bdff;
}
.select2-dropdown .select2-results {
  line-height: 1.5;
}
.select2-dropdown .select2-results .select2-results__option,
.select2-dropdown .select2-results .select2-results__group {
  padding: 8px;
  margin: 0;
  outline: 0;
}
.select2-dropdown .select2-results .description {
  display: block;
  padding-top: 4px;
  color: #999;
}

.easyreservations .select2-container--focus .select2-selection {
  outline: 0;
}
.easyreservations .select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.easyreservations .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.easyreservations .select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.easyreservations .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.easyreservations .select2-container--open .select2-selection {
  border-color: #80bdff !important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.easyreservations .select2-container .select2-selection__rendered.ui-sortable li {
  cursor: move;
}
.easyreservations .select2-container .select2-selection {
  border: 1px solid #7e8993;
}
.easyreservations .select2-container .select2-selection--single {
  height: 30px;
  font-size: 14px;
  border-radius: 0.25rem;
}
.easyreservations .select2-container .select2-selection--single .select2-selection__rendered {
  padding-right: 24px;
  line-height: 2;
}
.easyreservations .select2-container .select2-selection--single .select2-selection__arrow {
  right: 3px;
  height: 28px;
}
.easyreservations .select2-container .select2-selection--multiple {
  min-height: 28px;
  line-height: 1.5;
}
.easyreservations .select2-container .select2-selection--multiple .select2-selection__rendered .select2-search--inline {
  margin: 0;
}
.easyreservations .select2-container .select2-selection--multiple .select2-selection__rendered .select2-search--inline .select2-search__field:focus,
.easyreservations .select2-container .select2-selection--multiple .select2-selection__rendered .select2-search--inline .select2-search__field {
  border: none;
  outline: 0;
  box-shadow: none;
}
.easyreservations .select2-container .select2-selection--multiple .select2-selection__choice {
  padding: 2px 6px;
}
.easyreservations .select2-container .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
  vertical-align: text-bottom;
}
.easyreservations .select2-container .select2-selection--multiple .select2-selection__choice .description {
  display: none;
}
.easyreservations .select2-container .select2-selection__clear {
  color: #999;
  margin-top: -1px;
  z-index: 1;
}
.easyreservations .select2-container .select2-search--inline .select2-search__field {
  padding: 3px 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/*# sourceMappingURL=ui.css.map */
